/obj
.vs
bin
*.log
.well-known
*.pid
datas/*
node_modules
dist
control_html
myLyWafbintest_build
bintemp_build
nul
.claude
.lywaf*
publish
wwwroot/*
bintemp_check
temp/*
config.nginx.ly
logs/*
certs/*